html, body, #app {
	height: 100%;
}

body {
	font-family: 'Varela Round', sans-serif;
}

input {
	border-radius: 5px;
	margin: 5px;
}

label {
	margin: 0 5px;
}

header {
	background: grey;
	height: 3em;
}

.login-container form,
.signup-container form {
	display: inline-block;
	text-align: right;
}

.messages-container {
	display: flex;
	flex-direction: column;
	height: calc(100% - 3em); //header-height
}

.messages > span {
	display: block;
}

.full-height {
	height: 100%;
}